# PDFs & Documents (Large files)
*.pdf
*.docx
*.xlsx

# Python cache & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
ENV/
env/

# OS specific files
.DS_Store
Thumbs.db

# Editor configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
